name: publish-package
on:
  push:
    branches: [ publish-package ]

  workflow_dispatch:

jobs:

  release_package:

    name: Release package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: yarn install

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}


