name: publish-package
on:
  push:
    branches: [ code-owner ]
env:
  CI: true
  workflow_dispatch:

jobs:
  master_tests:
    name: Run e2e tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore(release)')"

    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.REPO_TOKEN }}
    - name: Use Node.js v14.18.1
      uses: actions/setup-node@v1
      with:
        node-version: 14.18.1

    - name: Install packages
      run: yarn install

    - name: Run tests
      run: yarn test

  release_package:
    needs: master_tests

    name: Release package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: yarn install

      - name: Run release
        run: |
          git config user.name ${{ secrets.USERNAME }}
          git config user.email ${{ secrets.EMAIL }}
          yarn release
      - name: push changes
        run: git push --follow-tags origin master

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN_PUBLISH }}


